﻿@model OrderWebPortal.Models.Login
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Balram Pure Ghee | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
        .Error{
            color:red;
        }
    </style>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            @*<img src="~/Images/Fresh-O-Juice.jpg"  />*@
            @*<a href="../../index2.html"></a>*@
            <b>Balram Pure Ghee</b>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            @*@Html.Partial("~/Views/Shared/_ErrorMessage.cshtml")*@
            <p class="login-box-msg">Sign in to start your session</p>
            @if (ViewBag.Error == 1)
            {
                <div class="alert alert-danger">
                    <strong>username or password is wrong.</strong>
                </div>
            }
            @using (Html.BeginForm("LoginProcess", "Login", FormMethod.Post, new { @data_parsley_validate = "" }))
            {
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.username, new { @class = "form-control required", @placeholder = "Username", @data_parsley_required = "", @data_parsley_required_message = "Username is required" })
                    @Html.ValidationMessageFor(m => m.username)
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.userpwd, new { @class = "form-control required", @placeholder = "Password", @data_parsley_required = "", @data_parsley_required_message = "Password is required" })
                    @Html.ValidationMessageFor(m => m.userpwd)
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>


                @*<div class="form-group has-feedback">
                @Html.TextAreaFor(m => m.systeminfo, new { @class = "form-control"})
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>*@

                <div class="row">
                    @*<div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> Remember Me
                        </label>
                    </div>
                </div>*@
                    <!-- /.col -->

                    <div class="col-xs-4">
                        <input type="submit" class="btn btn-block btn-info" value="Sign In" />
                    </div>
                    <!-- /.col -->
                </div>
            }
            @*<a href="#">I forgot my password</a><br>*@
        </div>
        <!-- /.login-card-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.min.js"></script>

    <script>
        $('form').submit(function () {
            var retval = true;
            $("form input[type=text],form .required").each(function () {
                var fieldName = $(this).attr("name");
                $(this).removeClass("input-validation-error");
                var messageNode = $('*[data-valmsg-for="' + fieldName + '"]');
                messageNode.text("");
                messageNode.removeClass("Error");
                messageNode.addClass("Error");
                if ($(this).val().match(/<(\w+)((?:\s+\w+(?:\s*=\s*(?:(?:"[^"]*")|(?:'[^']*')|[^>\s]+))?)*)\s*(\/?)>/)) {
                    $(this).addClass("input-validation-error");
                    messageNode.text("html content is not allowed");
                    messageNode.removeClass("Error");
                    messageNode.addClass("Error");
                    retval = false;
                }
                else if ($(this).hasClass("required") && ($(this).val() == "" || $(this).val() == undefined || $(this).val() == null)) {
                    $(this).addClass("input-validation-error");
                    messageNode.text("This field is required.");
                    messageNode.removeClass("Error");
                    messageNode.addClass("Error");
                    retval = false;
                }
            });

            return retval;
        });
    </script>
</body>
</html>

