﻿@{
    ViewBag.Title = "Home Page";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Dashboard</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@ViewBag.NewOrder</h3>
                        <p>New Orders</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="@Url.Action("NewOrder", "Order")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@ViewBag.Completedorder<sup style="font-size: 20px"></sup></h3>
                        <p>Completed Orders</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="@Url.Action("CompletedOrder", "Order")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@ViewBag.Newuser</h3>
                        <p>User Registrations</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="@Url.Action("UserRegistrationList", "Order")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@ViewBag.Collection</h3>
                        <p>Total Collections</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-6 connectedSortable">
                <!-- Custom tabs (Charts with tabs)-->
                <div class="card bg-gradient-info">
                    <div class="card-header border-0">
                        <h3 class="card-title">
                            <i class="fas fa-chart-pie mr-1"></i>
                            Orders
                        </h3>
                    </div>
                    <div class="chart" id="Order-line-chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></div>
                    <div class="card-footer bg-transparent">
                        <div class="row">
                        </div>
                    </div>
                </div>
            </section>
            <section class="col-lg-6 connectedSortable">
                <!-- solid sales graph -->
                <div class="card bg-gradient-info">
                    <div class="card-header border-0">
                        <h3 class="card-title">
                            <i class="fas fa-th mr-1"></i>
                            Collection
                        </h3>
                    </div>
                    <div class="chart" id="Sales-line-chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></div>
                    <!-- /.card-body -->
                    <div class="card-footer bg-transparent">
                        <div class="row">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div><!-- /.container-fluid -->
</section>

@*<script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables -->
    <script src="~/Content/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/dist/js/demo.js"></script>*@

<script src="~/Content/plugins/jquery/jquery.min.js"></script>
<script src="~/Content/plugins/jquery-knob/jquery.knob.min.js"></script>

<link rel="stylesheet" href="~/Content/plugins/morris.js/morris.js/morris.css">
<script src="~/Content/plugins/morris.js/morris.js/morris.min.js"></script>
<script src="~/Content/plugins/raphael/raphael.min.js"></script>

<script>
    $(Document).ready(function () {
        OrderGraph();
        SalesGraph();
    })
    function OrderGraph() {
        /* jQueryKnob */
        $('.knob').knob();

        $.ajax({
            url: "/Home/OrderChart",
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            cache: false,
            success: function (result) {
                if (result != null && result != "") {
                    /* Morris.js Charts */
                    var line = new Morris.Line({
                        element: 'Order-line-chart',
                        resize: true,
                        data: result,
                        xkey: 'month',
                        ykeys: ['amount'],
                        labels: ['Amount'],
                        lineWidth: 2,
                        gridTextColor: '#fff',
                        gridStrokeWidth: 0.4,
                        pointSize: 4,
                        pointStrokeColors: ['#efefef'],
                        gridLineColor: '#efefef',
                        gridTextFamily: 'Open Sans',
                        gridTextSize: 10,
                        parseTime: false
                    });
                    line.redraw();
                }
            }
        });
    }

    function SalesGraph() {
        /* jQueryKnob */
        $('.knob').knob();

        $.ajax({
            url: "/Home/SalesChart",
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            cache: false,
            success: function (result) {
                if (result != null && result != "") {
                    /* Morris.js Charts */
                    var line = new Morris.Line({
                        element: 'Sales-line-chart',
                        resize: true,
                        data: result,
                        xkey: 'month',
                        ykeys: ['amount'],
                        labels: ['Amount'],
                        lineWidth: 2,
                        gridTextColor: '#fff',
                        gridStrokeWidth: 0.4,
                        pointSize: 4,
                        pointStrokeColors: ['#efefef'],
                        gridLineColor: '#efefef',
                        gridTextFamily: 'Open Sans',
                        gridTextSize: 10,
                        parseTime: false
                    });
                    line.redraw();
                }
            }
        });
    }
</script>
