﻿@model IEnumerable<OrderWebPortal.Models.OrderEntity>

<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header">
                        <h3 class="card-title">New Order</h3>
                    </div>

                    @*<div class="card-header">
                            <label>Date range:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                    </span>
                                    <input type="text" class="form-control float-right" id="reservation">
                                </div>
                                <div style="padding-left:20px">
                                    <input type="button" class="form-control" id="submit" value="submit" onclick="test()" />
                                </div>
                            </div>
                        </div>*@

                    <div class="card-body">

                        <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 194.8px;">ID</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="code: activate to sort column ascending" style="width: 194.8px;">Code</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 194.8px;">Date</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Time: activate to sort column ascending" style="width: 194.8px;">Time</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 262px;">Customer Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 233.2px;">Mobile No</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 164.4px;">Total Amount</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 194.8px;">Status</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 194.8px;">Reference Number</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 194.8px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var items in Model)
                                {
                                <tr>
                                    <td>@items.Soid</td>
                                    <td>@items.socode</td>
                                    <td>@items.sodate</td>
                                    <td>@items.sotime</td>
                                    <td>@items.CustomerName</td>
                                    <td>@items.MobileNo</td>
                                    <td>@items.TotalAmt</td>
                                    <td>@items.ordstatus</td>
                                    <td>@items.referenceno</td>
                                    <td><input type="button" class="btn btn-circle btn-success btn-sm show-tooltip" value="Approve" onclick="location.href='@Url.Action("Orderapproval", "Order",new {SoID =@items.Soid })'" /></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Control Sidebar -->
<!-- /.control-sidebar -->
<!-- ./wrapper -->
<!-- jQuery -->
<script src="~/Content/plugins/jquery/jquery.min.js"></script>
<!-- page script -->
<script>
    $(function () {
        //$("#example1").DataTable();
        $("#example1").DataTable({
            "scrollX": true
        });
        $('#reservation').daterangepicker();
    });
    function test() {
        //var Date = $("#reservation").val().split("-");

        //var StartDate = Date[0];
        //var EndDate = Date[1];

        //$.ajax({
        //    datatype: "json",
        //    url: "/Order/Order?StartDate=" + StartDate + "&EndDate=" + EndDate,
        //    cache: false,
        //    async:false,
        //    contentType: "application/json; charset=utf-8",
        //    success: function (data) {
        //        var dataSet = new Array();
        //        $.each(data, function (index, value) {
        //            var dataset = new Array();
        //            var tempArray = new Array;
        //            for (var o in value) {
        //                tempArray.push(value[o]);
        //            }
        //            dataSet.push(tempArray);
        //        })
        //        //$("#example1").DataTable(
        //        //    {
        //        //        data: dataSet,
        //        //    }
        //        //);
        //        $("#example1").DataTable({
        //            'columnDefs': [
        //                {
        //                    'targets': 8,
        //                    'searchable': false,
        //                    'orderable': false,
        //                    'className': 'dt-body-center',
        //                    'render': function (data, type, full, meta,) {
        //                        var buttons = '';
        //                        buttons = DataTableFormattingOnrender(data, type, full, meta);
        //                        return buttons;
        //                    }
        //                }],
        //            //'columns': _colModel,
        //            'data': dataSet,
        //            'order': [[1, 'asc']],
        //            "scrollX": true
        //        });

        //        function DataTableFormattingOnrender(data, type, full, meta) {
        //            var buttons = '';
        //            buttons += '<a class="btn btn-circle btn-success btn-sm show-tooltip" title="Edit" href="/' + "Order" + '/Orderapproval?SoID=' + full[0] + '"><i class="fa fa-edit"></i></a>';
        //            return buttons;
        //        }
        //    },
        //    error: function (xhr) {
        //        alert(xhr.responseText);
        //    }
        //});
    }
</script>
