﻿@model IEnumerable<OrderWebPortal.Models.OrderDetailsEntity>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Ready For Ship Order</h3>
                </div>
                <div class="card-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Status</label>
                                    <select id="OrderStatus" class="form-control">
                                        <option value="Delivered">Delivered</option>
                                        <option value="Reject">Reject</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>So Code:</label>
                                    <input type="text" class="form-control" value="@ViewBag.socode" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Customer Name:</label>
                                    <input type="text" class="form-control" value="@ViewBag.CustomerName" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Delivery Date:</label>
                                    <input type="text" class="form-control" value="@ViewBag.deliverydate" disabled="disabled">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Adress:</label>
                                    @*<input type="text" class="form-control" value="@ViewBag.address" disabled="disabled">*@
                                    <textarea class="form-control" rows="3" placeholder="@ViewBag.address" disabled=""></textarea>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>City:</label>
                                    <input type="text" class="form-control" value="@ViewBag.city" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>State:</label>
                                    <input type="text" class="form-control" value="@ViewBag.State" disabled="disabled">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card-body">
                    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        @*<div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="example1_length"><label>Show <select name="example1_length" aria-controls="example1" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label></div></div></div><div class="row">*@
                        <div class="col-sm-12">
                            <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 194.8px;">Item Name</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="code: activate to sort column ascending" style="width: 194.8px;">Category Name</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 194.8px;">Unit Name</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Time: activate to sort column ascending" style="width: 194.8px;">Qty</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 262px;">Net Rate</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 233.2px;">Total Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var items in Model)
                                    {
                                        <tr>
                                            <td>@items.itemname</td>
                                            <td>@items.itemcatname</td>
                                            <td>@items.unitname</td>
                                            <td>@items.qty</td>
                                            <td>@items.netrate</td>
                                            <td>@items.totamt</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @*</div>*@
                            @*</div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="example1_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>*@
                        </div>
                    </div>
                    <div>
                        <div class="row" style="padding-left:20px;float:right">
                            <input type="button" class="form-control" style="width:100px" id="Save" value="Save" onclick="SaveOrderapproval()" />
                            <input type="button" class="form-control" style="width:100px;padding-left:20px" id="Close" value="Cancel" onclick="location.href='@Url.Action("ReadyForShipOrder", "Order")' " />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ./wrapper -->
<!-- jQuery -->
<script src="~/Content/plugins/jquery/jquery.min.js"></script>
<script>
    function SaveOrderapproval() {
        var OrderStatus = $("#OrderStatus").val();
            var SoID = @ViewBag.SoID;
        window.location.href = '/Order/SaveReadyForShipapproval?OrderStatus=' + OrderStatus + "&SoID=" + SoID;
        }
</script>
