﻿@model IEnumerable<OrderWebPortal.Models.ReadyOrderEntity>
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header">
                        <h3 class="card-title">Ready For Ship Order</h3>
                    </div>

                    <div class="card-body">

                        <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 194.8px;">ID</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="code: activate to sort column ascending" style="width: 194.8px;">Code</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 194.8px;">Date</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Time: activate to sort column ascending" style="width: 194.8px;">Time</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 262px;">Customer Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 233.2px;">Mobile No</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 164.4px;">Total Amount</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 194.8px;">Status</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 194.8px;">Reference Number</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 194.8px;">Shipment Company</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 194.8px;">Airbase Number</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 194.8px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var items in Model)
                                {
                                <tr>
                                    <td>@items.Soid</td>
                                    <td>@items.socode</td>
                                    <td>@items.sodate</td>
                                    <td>@items.sotime</td>
                                    <td>@items.CustomerName</td>
                                    <td>@items.MobileNo</td>
                                    <td>@items.TotalAmt</td>
                                    <td>@items.ordstatus</td>
                                    <td>@items.referenceno</td>
                                    <td>@items.shipmentcompany</td>
                                    <td>@items.airbasenumber</td>
                                    <td><input type="button" class="btn btn-circle btn-success btn-sm show-tooltip" value="Approve" onclick="location.href='@Url.Action("ReadyForShipOrderapproval", "Order",new {SoID =@items.Soid })'" /></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Control Sidebar -->
<!-- /.control-sidebar -->
<!-- ./wrapper -->
<!-- jQuery -->
<script src="~/Content/plugins/jquery/jquery.min.js"></script>
<!-- page script -->
<script>
    $(function () {
        //$("#example1").DataTable();
        $("#example1").DataTable({
            "scrollX": true
        });
        $('#reservation').daterangepicker();
    });
    function test() {
    }
</script>
