﻿@model IEnumerable<OrderWebPortal.Models.salesSummaryEntity>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Item Wise Order</h3>
                </div>
                <div class="card-header">
                    <label>Date range:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                            <input type="text" class="form-control float-right" id="reservation">
                        </div>
                        <div style="padding-left:20px">
                            <input type="button" class="form-control" id="submit" value="submit" onclick="test()" />
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        @*<div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="example1_length"><label>Show <select name="example1_length" aria-controls="example1" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label></div></div></div><div class="row">*@
                        <div class="col-sm-12">
                            <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr role="row">

                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Billcode: activate to sort column ascending" style="width: 194.8px;">Code</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="BillDate: activate to sort column ascending" style="width: 194.8px;">Date</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="BillTime: activate to sort column ascending" style="width: 194.8px;">Time</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="BillTime: activate to sort column ascending" style="width: 194.8px;">Item Name</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="BillTime: activate to sort column ascending" style="width: 194.8px;">Item ID</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CustomerName: activate to sort column ascending" style="width: 262px;">Customer Name</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="BillId: activate to sort column descending" style="width: 194.8px;">So ID</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="BillTime: activate to sort column ascending" style="width: 194.8px;">Qty</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="BillTime: activate to sort column ascending" style="width: 194.8px;">Rate</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="BillTime: activate to sort column ascending" style="width: 194.8px;">Net Amt</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="BillTime: activate to sort column ascending" style="width: 194.8px;">Disc Amt</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="BillTime: activate to sort column ascending" style="width: 194.8px;">Total Amt</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="BillTime: activate to sort column ascending" style="width: 194.8px;">Tax Perc</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="BillTime: activate to sort column ascending" style="width: 194.8px;">Tax Amt</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="BillTime: activate to sort column ascending" style="width: 194.8px;">Total Amount</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="BillTime: activate to sort column ascending" style="width: 194.8px;">Bill Amt</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="MobileNo: activate to sort column ascending" style="width: 233.2px;">Cust ID</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 194.8px;">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*@foreach (var items in Model)
                                        {
                                            <tr>
                                                <td>@items.BillID</td>
                                                <td>@items.CustomerName</td>
                                                <td>@items.MobileNo</td>
                                                <td>@items.TotalAmt</td>
                                            </tr>
                                        }*@
                                </tbody>
                            </table>
                            @*</div>*@
                            @*</div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="example1_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ./wrapper -->
<!-- jQuery -->
<script src="~/Content/plugins/jquery/jquery.min.js"></script>
<!-- page script -->
<script>
    $(function () {
        //$("#example1").DataTable();
        $('#reservation').daterangepicker();
    });
    function test() {
        var Date = $("#reservation").val().split("-");

        var StartDate = Date[0];
        var EndDate = Date[1];

        $.ajax({
            datatype: "json",
            url: "/Reports/ItemOrder?StartDate=" + StartDate + "&EndDate=" + EndDate,
            cache: false,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var dataSet = new Array();
                $.each(data, function (index, value) {
                    var dataset = new Array();
                    var tempArray = new Array;
                    for (var o in value) {
                        tempArray.push(value[o]);
                    }
                    dataSet.push(tempArray);
                })
                $("#example1").DataTable(
                    {
                        //'columns': _colModel,
                        'data': dataSet,
                        'order': [[1, 'asc']],
                        "scrollX": true
                    }
                );
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }
</script>
