﻿@model IEnumerable<OrderWebPortal.Models.salesSummaryEntity>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Sales Summary</h3>
                </div>
                <div class="card-header">
                    <label>Date range:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                            <input type="text" class="form-control float-right" id="reservation">
                        </div>
                        <div style="padding-left:20px">
                            <input type="button" class="form-control" id="submit" value="submit" onclick="test()" />
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="BillId: activate to sort column descending" style="width: 194.8px;">Bill ID</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Billcode: activate to sort column ascending" style="width: 194.8px;">Bill Code</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="BillDate: activate to sort column ascending" style="width: 194.8px;">Bill Date</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="BillTime: activate to sort column ascending" style="width: 194.8px;">Bill Time</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CustomerName: activate to sort column ascending" style="width: 262px;">Customer Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="MobileNo: activate to sort column ascending" style="width: 233.2px;">Mobile No</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="TotalAmt: activate to sort column ascending" style="width: 164.4px;">Total Amt</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@foreach (var items in Model)
                                    {
                                        <tr>
                                            <td>@items.BillID</td>
                                            <td>@items.CustomerName</td>
                                            <td>@items.MobileNo</td>
                                            <td>@items.TotalAmt</td>
                                        </tr>
                                    }*@
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ./wrapper -->
<!-- jQuery -->
<script src="~/Content/plugins/jquery/jquery.min.js"></script>

<!-- page script -->
<script>
    $(function () {
        //$("#example1").DataTable();
        $('#reservation').daterangepicker();
    });
    function test() {
        var Date = $("#reservation").val().split("-");

        var StartDate = Date[0];
        var EndDate = Date[1];

        $.ajax({
            datatype: "json",
            url: "/Reports/sales?StartDate=" + StartDate + "&EndDate=" + EndDate,
            cache: false,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var dataSet = new Array();
                $.each(data, function (index, value) {
                    var dataset = new Array();
                    var tempArray = new Array;
                    for (var o in value) {
                        tempArray.push(value[o]);
                    }
                    dataSet.push(tempArray);
                })
                $("#example1").DataTable(
                    {
                        data: dataSet,
                        "scrollX": true
                    }
                );
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }
</script>

