﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Razorpay Payment</title>
</head>
<body>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var options = {
        "key": "@TempData["key"]", // Enter the Key ID generated from the Dashboard
        "amount": "@TempData["amount"]", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "@TempData["payee"]",
        "description": "@TempData["description"]",
        "image": "https://razorpay.com/favicon.png",
        "order_id": "@TempData["orderid"]", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response) {
            debugger;

            alert('Payment Successful. Reference Number : ' + response.razorpay_payment_id);
            //alert(response.razorpay_order_id);
            //alert(response.razorpay_signature)
            debugger;
            $.ajax({
                url: '@Url.Action("ChargeSummary", "RozarPay")',
                type: 'GET',
                cache: true,
                data: { paymentId: response.razorpay_payment_id },
                success: function (result) {
                    if (result.retMessage != "") {
                        window.close();
                        window.location.href = '@Url.Action("index","home")';
                    }
                    else {
                        alert("Some Error for generate Request.");
                    }
                }
            });


        },
        "prefill": {
            "name": "@TempData["payee"]",
            "email": "@TempData["emailid"]",
            "contact": "@TempData["mobileno"]"
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#F37254"
        },
        "modal": {
            "ondismiss": function () {
                $.ajax({
                    url: '@Url.Action("FailedTransction", "RozarPay")',
                    type: 'GET',
                    cache: false,
                    data: { Invoiceid: "@TempData["receiptid"]" },
                    success: function (result) {
                        if (result.retMessage != "") {
                            window.close();
                        }
                        else {
                            alert("Some Error for generate Request.");
                        }
                    }
            });
                window.close();
            }
        }
    };
    $(document).ready(function () {



        var razorpay = new Razorpay(options);
        razorpay.open();

        razorpay.on('payment.success', function (resp) {
            debugger;
            alert(resp.razorpay_payment_id + 'Payment Success');
            //    alert(resp.razorpay_order_id),
            //    alert(resp.razorpay_signature)

        }); // will pass payment ID, order ID, and Razorpay signature to success handler.

        razorpay .on('payment.error', function (resp) {
            debugger;
            alert(resp.error.description)
        }); //
    });
</script>
